body{
    background-color: mediumpurple;
    
}

.rotateimg180 {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }


ul{  
    justify-content: space-around;
    border: 1px solid;
    list-style: none; 
     margin: 0;  
     padding: 0; 
      display: flex; 
      color:purple;
    }


