
h1{
       color: whitesmoke;
}

body{
    background-color: mediumpurple;
    
}




ul{  
    justify-content: space-around;
    border: 1px solid;
    list-style: none; 
     margin: 0;  
     padding: 0; 
      display: flex; 
      color:purple;
    }


    img {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }


