
h1{
       color: whitesmoke;
}

body{
    background-color: mediumpurple;
    
}




ul{  
    justify-content: space-around;
    border: 1px solid;
    list-style: none; 
     margin: 0;  
     padding: 0; 
      display: flex; 
      color:purple;
    }

    img { transform: rotate(90deg); }


